<div class="container">
  <h1>Editing metallic</h1>

  <%= render "form", metallic: @metallic %>

  <br>

  <div>
    <%= link_to "Show this metallic", @metallic %> |
    <%= link_to "Back to metallics", metallics_path %>
  </div>
</div>