<div class="container pt-5">
  <h1 class="mt-5">Edit Metallic</h1>
  <%= render "form", metallic: @metallic %>

  <br>
  <div>
    <%= link_to "Show this Metallic", @metallic, class: "btn btn-secondary" %> 
    <%= link_to "Back to Metallics", metallics_path, class: "btn btn-info"%>
  </div>
</div>
