<div class="container pt-5">
  <h1 class="mt-5">Add New Metallic</h1>

  <%= render "form", metallic: @metallic %>

  <br>

  <div>
    <%= link_to "Back to metallics", metallics_path, class: "btn btn-info" %>
  </div>
</div>
