<div class="container pt-5">
  <h1 class="mt-5">Edit DMC</h1>
  <%= render "form", dmc: @dmc%>

  <div>
    <%= link_to "Show this DMC Thread", @dmc, class: "btn btn-secondary" %> 
    <%= link_to "Back to DMC Threads", dmcs_path, class: "btn btn-info"%>
  </div>
</div>