<main class= "container" >
  <h1>Editing dmc</h1>

  <%= render "form", dmc: @dmc %>

  <br>

  <div>
    <%= link_to "Show this dmc", @dmc %> |
    <%= link_to "Back to dmcs", dmcs_path %>
  </div>
</main>