<div class= "container pt-5">
  <h1 class="mt-5">Edit silk</h1>

  <%= render "form", silk: @silk %>

<br>

  <div>
    <%= link_to "Show this silk", @silk, class: "btn btn-secondary" %> 
    <%= link_to "Back to silks", silks_path, class: "btn btn-info"%>
  </div>

</div>
