<div class="container">
  <h1 class="mt-5">Add New Silk</h1>

  <%= render "form", silk: @silk %>
  <br>

  <div>
  <%= link_to "Back to silks", silks_path, class: "btn btn-secondary" %>
  </div>
</div>
