<div class= "container">
    <div class="jumbotron">
        <h5 class="display-6 mt-5 mb-5">Spend less time sorting and more time stitching</h5>
        <%= image_tag "home/threads.jpg", class: "rounded mx-auto d-block", style:"width: 70%;"%>
        <figcaption class="small float-end"> Photo by Aneta Pawlik on <a href="https://unsplash.com/photos/7cwlmcyITg8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</figcaption>
    </div>
</div>    
    
    