<div class= "container">
    <div class="jumbotron">
        <h6 class="display-6 mt-5 pt-5 mb-3 text-center">Spend less time sorting and more time stitching</h6>
        <%= image_tag "home/floss.jpg", class: "rounded-5 mx-auto d-block", style:"width: 70%;"%>
        <%# <figcaption class="small text-center"> Photo by Karly Santiago on <a href="https://unsplash.com/photos/7cwlmcyITg8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</figcaption> %>
        <figcaption class="small text-center"> Photo by Noor Sethi on <a href="https://unsplash.com/photos/7cwlmcyITg8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
    </div>
</div>    
    
    