<div class= "container">
    <div class="jumbotron">
        <h6 class="display-6 mt-5 pt-5 mb-3 text-center">Spend less time sorting and more time stitching.</h6>
        <%= image_tag "home/floss.jpg", class: "rounded-5 mx-auto d-block", style:"width: 50%;"%>
        <figcaption class="small text-center"> Photo by Noor Sethi</figcaption>
    </div>
</div>    
    
    