<div class= "container pt-5">
  <h1 class="mt-5">Edit Pattern</h1>

  <%= render "form", pattern: @pattern %>

<br>

  <div>
    <%= link_to "Show this pattern", @pattern, class: "btn btn-secondary mt-3" %> 
    <%= link_to "Back to patterns", patterns_path, class: "btn btn-info mt-3"%>
  </div>

</div>
