<div class="container pt-5">
  <h1 class="mt-5">Add New Pattern</h1>

  <%= render "form", pattern: @pattern %>

  <br>

  <div>
    <%= link_to "Back to patterns", patterns_path, class: "btn btn-secondary" %>
  </div>
</div>
