<h1> Show Updated/Current </h1>

<h3><%= @pattern.name %> </h3>
<h1>Patterns</h1>

<ul>
  <% @patterns.each do |pattern| %>
    <h3>pattern.brand </h3>
    <h5>pattern.size </h5>
    <h5> pattern.stash </h5>

  <% end %>
</ul>
<%= link_to "New Pattern", new_pattern_path %>