<div class="container pt-5 ">
  <h1 class="mt-5">Add New Bead</h1>

  <%= render "form", bead: @bead %>

  <br>

  <div>
    <%= link_to "Back to beads", beads_path, class: "btn btn-secondary" %>
  </div>
</div>
